@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
    text-align: center;
    font-family: Raleway, Arial, sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: #222;
}

#city, #country {
    color: #4286f4;
}

#thunderstorm,
#drizzle,
#rain,
#atmosphere,
#clear,
#clouds,
#showerRain {
    font-size: 3em;
    display: none;
}

#credit {
    font-size: 0.5em;
    margin-top: 30px;
}

#credit a,
#credit a:hover,
#credit a:visited {
    text-decoration: none;
    color:#4286f4;
    border:none;
}

#metric {
    background-color: #222;
    border: none;
    color: #4286f4;
}

#metric:hover {
    cursor: pointer;
    color:rgb(136, 24, 136);
}

#metric:active {
    cursor: pointer;
    color: #4286f4;
    border: none;
}
